
.header .logo a:before {
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
.header .top-menu ul li a .link:before {
	margin-top: -5px;
	content: '';
	position: absolute;
	left: -10px;
	top: 50%;
	border: 5px solid transparent;
	border-right: 5px solid #111;
}
.card-inner {
	padding-left: 44px;
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 111;
	visibility: hidden;
	opacity: 0;
}
.card-inner.active {
	visibility: visible;
	opacity: 1;
	z-index: 112;
}
.card-inner.card-started {
	text-align: center;
}
.card-inner.card-started .slide {
	background-position: center center;
}
.card-inner.card-started .slide:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #181818;
	opacity: 0.6;
}
.card-inner .card-container {
	height: 100%;
}
.card-inner .card-container .card-wrap {
	background: linear-gradient(135deg, #1d1e21 0%, #3e4246 100%);
	overflow: visible!important;
}
.card-inner .card-container .card-wrap .simplebar-scroll-content {
	max-height: 100%!important;
}
.card-inner .card-wrap {
	position: relative;
	overflow-x: hidden;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	display: block;
}
.card-inner .card-wrap .simplebar-content {
	overflow: hidden;
	padding: 30px 0!important;
}
.card-inner .card-image {
	position: fixed;
	overflow: hidden;
	right: -22px;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #262628;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.card-inner .card-image:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #181818;
	opacity: 0.15;
}
.card-inner .card-box {
	position: relative;
	padding: 30px;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
	border-radius: 18px;
	transition: all 0.3s ease 0s;
}
.card-inner .card-box:hover {
	box-shadow: 0 15px 55px rgba(0, 0, 0, 0.3);
}
.content {
	margin: 0;
	padding: 70px 0 0 0;
	position: relative;
}
.content.inner-top {
	text-align: center;
}
.content.inner-top .circle-bts a {
	margin: 0 8px;
	display: inline-block;
	vertical-align: top;
	min-width: 44px;
	height: 44px;
	background: rgba(255, 255, 255, 0.05);
	text-align: center;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
	border-radius: 44px;
	transition: all 0.3s ease 0s;
}
.content.inner-top .circle-bts a .icon {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 22px;
	line-height: 42px;
	color: #fff;
	transition: all 0.3s ease 0s;
}
.content.inner-top .circle-bts a span {
	padding: 0 24px;
	display: inline-block;
	vertical-align: top;
	line-height: 44px;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
	transition: all 0.3s ease 0s;
}
.content.inner-top .circle-bts a span .icon {
	top: -2px;
	margin-right: 5px;
}
.content.inner-top .circle-bts a:hover {
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}
.content.inner-top .circle-bts a:hover .icon {
	color: var(--extra-color);
}
.content.inner-top .circle-bts a:hover span {
	color: var(--extra-color);
}
.box-item .image .info:before,
.box-item .image .info:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: var(--extra-color);
	opacity: 0.4;
	transition: all 0.3s ease 0s;
	border-radius: 18px 18px 0 0;
}
.box-item .image .info:after {
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
.box-item .image .info .icon {
	transition: all 0.1s ease-in 0.4s;
}
.post-box .post-comments li:nth-child(even) {
	background: rgba(255, 255, 255, 0.05);
}

@media (max-width: 1023px) {
	.card-wrap.blogs-sidebar {
		min-height: 100px!important;
		padding-top: 25px;
	}
}
@media screen and (orientation: landscape) and (max-width: 820px) {
	.card-inner .card-image {
		height: 100vh;
	}

}
.slide .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
	background-color:var(--extra-color);
}
.slide .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.slide .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.slide .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.slide .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.slide .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.slide .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.slide .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.slide .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.slide .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.slide .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}



